%br
.container-fluid.edit_profile_page
  = simple_form_for @user, url: {action: "update"}, html: { multipart: true } do |f|
    #edit_profile_pic
      = profile_avatar_select(@user)
    %h4 Change your profile image:
    = f.input :avatar, onChange: 'loadFile(event)', label:false
    %br
    %br
    %br
    = f.input :occupation, label: "What's your occupation? (20 characters maximum)", maxlength: 20
    = f.input :bio, label: "Add a bio to display on your profile page"

    = f.submit "Update Profile", class: 'btn btn-success'
