.posts-wrapper
  = profile_avatar_select(@user)
%h3.profile_user_name
  = @user.user_name
%p.profile-bio
  = @user.bio


%span= render 'shared/stats'
%span= render 'follow_form'


%span.user-statistics
  %p
  = pluralize @user.posts.count, 'post'


.container.organize_rows#my-posts
  = render @posts

