.container-fluid.profile_container
  .posts-wrapper
    %br
    -if current_user == @user
      %h4
        =link_to "Edit Profile", edit_profile_path
    %div{ :class => follow_num(@user) }= profile_avatar_select(@user)

  .profile_basic_content

    %h3.profile_user_name
      = @user.user_name
    %p
      = @user.occupation
    %span= render 'shared/stats'
    %span.profile_follow_form= render 'follow_form'
  %br
  .profile-bio
    = simple_format(@user.bio)
.container.organize_rows#my-posts
  = render @posts
