.container
  %br
  = link_to "", :back, class: "glyphicon glyphicon-share-alt"
  %br
  - if @user.followers.count == 0  && @user.following.count == 0
    %h3.stats Looks like #{@user.user_name} doesn't have any followers yet.
  -else
    .following_list
      %strong #{@user.user_name}'s Followers
      %hr
      .follower-block
        -if @user.followers.count == 0
          %em none
        -else
          - @user.followers.each do |follower|
            = link_to index_profile_avatar_select(follower), profile_path(follower.user_name)
            %li.follower_block_text= link_to follower.user_name, profile_path(follower.user_name)
      .following-block
      %strong #{@user.user_name}'s Following
      %hr
      -if @user.following.count == 0
        %em none
      -else
        - @user.following.each do |following|
          = link_to index_profile_avatar_select(following), profile_path(following.user_name)
          %li.follower_block_text= link_to following.user_name, profile_path(following.user_name)

