<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <span id="following" class="stat">
      <%= @user.following.count %>
    </span>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <span id="followers" class="stat">
      <%= @user.followers.count %>
    </span>
    followers
  </a>
  <br>
  <span class="user-statistics"><%= pluralize @user.posts.count, 'post' %></span>
  <span class="user-statistics"><%= pluralize @user.comments.count, 'comment' %></span>
</div>

