.registration-bg
  .container
    .row
      .col-md-4.col-md-offset-4
        .log-in.panel
          .panel-heading
            %h2 Log in
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = f.error_notification
            .panel-body
              = f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email', input_html: { class: 'input-lg' }
              = f.input :password, required: true, label: false, placeholder: 'Password', input_html: { class: 'input-lg' }
              = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
              = f.button :submit, "Log in", class: 'btn-lg btn-info btn-block'
.glyphicon.glyphicon-comment.glyphicon-comment-1
.glyphicon.glyphicon-comment.glyphicon-comment-2
.glyphicon.glyphicon-comment.glyphicon-comment-3
.glyphicon.glyphicon-comment.glyphicon-comment-4
.glyphicon.glyphicon-comment.glyphicon-comment-5
.glyphicon.glyphicon-comment.glyphicon-comment-6
.glyphicon.glyphicon-comment.glyphicon-comment-7
.glyphicon.glyphicon-comment.glyphicon-comment-8
.glyphicon.glyphicon-comment.glyphicon-comment-9
.glyphicon.glyphicon-comment.glyphicon-comment-10
.glyphicon.glyphicon-comment.glyphicon-comment-11
.glyphicon.glyphicon-comment.glyphicon-comment-12
.glyphicon.glyphicon-comment.glyphicon-comment-13
