- Post.paginate(page: params[:page], per_page: 12).order(created_at: :desc).each do |post|
  .item
    .well

      -if user_signed_in?
        %span{ :class => follow_num(post.user) }= link_to (index_profile_avatar_select(post.user)), profile_path(post.user.user_name), method: :get
        %strong.index_bio_capsule.index_name= render 'posts/user_info', post: post
      -else
        %span{ :class => follow_num(post.user) }= index_profile_avatar_select(post.user)
        %strong.index_bio_capsule.index_name= render 'posts/so_user_info', post: post
      %span.index_time_ago=time_ago_in_words post.created_at
      = link_to post_path(post) do
        - unless post.image.present?
          %span.post_image=image_tag post.image_link
        - else
          %span.post_image= image_tag post.image
        %h5=simple_format(index_commentary_shrink(post.commentary))
        .small_font= link_to comment_count_index(post), post_path(post)
        %hr
      -if post.tags.count == 1
        %span Tag:
      -else
        %span Tags:
      %span=raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(", ")
      %hr
        .small_font
          Reference: #{link_to post.link, post.link}
