= simple_form_for @post do |f|
  = f.input  :image, label: "Unhappy with the pic we chose for you? Upload your own."
  = f.bootsy_area  :commentary, placeholder: 'Type type type...', class: 'form-control'
  = f.input  :tag_list
  = f.button :submit
