= image_tag @post.image.url(:medium)
= simple_form_for @post do |f|
  = f.input  :image, label: "Unhappy with the image we chose for your post? Upload your own"
  = f.input  :title, label: 'Title. Maximum length is 100 characters', error: 'Title, please', maxlength: 100
  = f.input  :commentary, label: "Add your full commentary here:", placeholder: 'Type type type...'
  = f.input  :tag_list
  = f.button :submit
