= simple_form_for @post do |f|
  = f.input :title, label: 'Title', error: 'Title, please'
  = f.input :link, hint: "Make sure it includes 'http://' or 'https://' at the beginning."
  = f.input :commentary, placeholder: 'Type type type...'
  = f.button :submit
