= simple_form_for @post do |f|
  = f.input  :link, hint: "(Required) Make sure it includes 'http://' or 'https://' at the beginning."
  = f.bootsy_area  :commentary, label: "(Required) Add your own thoughts, commentary here:", placeholder: 'Type type type...', class: 'form-control'
  = f.input  :tag_list, label: "Tags", hint: "use commas or spaces to separate"
  = f.button :submit
