.item
  .well
    %span= link_to (index_profile_avatar_select(post.user)), profile_path(post.user.user_name), method: :get
    -if user_signed_in?
      %strong.index_name= render 'posts/user_info', post: post
    -else
      %strong.index_name= render 'posts/so_user_info', post: post
    .small_font=time_ago_in_words post.created_at
    = link_to post_path(post) do
      - unless post.image.present?
        =image_tag post.image_link
      - else
        = image_tag post.image
      %h3=post.title
      %h5=caption_max_length(post.commentary)
      .small_font=comment_count_index(post)
      %hr

    %span Tags:
    %span=raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(", ")
    %hr
      .small_font
        Reference: #{link_to post.link, post.link}

