%h1 New Post
= simple_form_for @post do |f|
  = f.input :title, label: 'Title. Maximum length is 100 characters', error: 'Title, please'
  = f.input :link, hint: "Make sure it includes 'http://' or 'https://' at the beginning."
  = f.input :commentary, label: "Add your full commentary here:", placeholder: 'Type type type...'
  = f.button :submit
= link_to 'Back', posts_path

