.comment_format.post_head
  %ul.post_info
    %span Shared link:
    = link_to @post.link, @post.link
  - begin
    - if @post.user.id == current_user.id
      = link_to '', edit_post_path(@post), class: "glyphicon glyphicon-wrench", method: :get
      = link_to '', post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "glyphicon glyphicon-trash"
    %br
  - rescue NoMethodError
  - if user_signed_in?
    %span{ :class => follow_num(@post.user) }= link_to index_profile_avatar_select(@post.user), profile_path(@post.user.user_name)
    %span.show_signed_in_name
      = render 'user_info', post: @post
    %br
    .small_font posted this #{time_ago_in_words @post.created_at} ago
    .follow_divider
    = render 'profiles/post_follow_form'
  - else
    %br
    %span{ :class => follow_num(@post.user) }= index_profile_avatar_select(@post.user)
    %li.signed_out_names
      = render 'so_user_info', post: @post
    .small_font posted this #{time_ago_in_words @post.created_at} ago



  %li= simple_format(@post.commentary)
  %span= render 'posts/likes'



.comment_format
  .comments{id: "comments_#{@post.id}"}
    - if @post.comments.any?
      -if user_signed_in?
        - @followerposts = @post.comments.of_followed_users(current_user.following).order(cached_votes_score: :desc)
        - @unfollowedposts = @post.comments.order(cached_votes_score: :desc) - @post.comments.of_followed_users(current_user.following)
        - @result = @followerposts + @unfollowedposts
        = render @result, post: @post
      -else
        = render @post.comments.order(cached_votes_score: :desc), post: @post
- if user_signed_in?
  .comment_format
    = simple_form_for([@post, @post.comments.build], remote: true)  do |f|
      = f.input :content, label:'Add your commentary:', hint: '10 characters minimum'
      = f.submit "Submit", class: "btn btn-default", error: "10 chars min."
