= link_to 'Back', posts_path, class: 'back_button'
%br
%ul.post_info
  - begin
    - if @post.user.id == current_user.id
      = link_to 'Edit', edit_post_path(@post)
      = link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?" }
  - rescue NoMethodError
  %li Check out the reference:
  = link_to @post.link, @post.link
  %li Post created #{time_ago_in_words @post.created_at} ago
  %li= @post.user.user_name
.comment_format
  %h1.post_title= @post.title
  %li= @post.commentary
  .comments{id: "comments_#{@post.id}"}
    - if @post.comments.any?
      = render @post.comments, post: @post
- if user_signed_in?
  = simple_form_for([@post, @post.comments.build], remote: true)  do |f|
    = f.input :content, label:'Add your commentary:'
    = f.submit class: "btn btn-primary"
