.nav

  = link_to '/', method: :get do
    %span.site_title.navbar_left thredbed
    %span.glyphicon.glyphicon-cloud
  %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar

  = link_to '/', method: :get do
    %span.site_title.navbar_left home
  %span.dropdown.navbar_left
    %span.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
      trending
      %span.caret
    %ul.dropdown-menu
      - @tag_counts.each do |tag|
        %li= link_to tag, tag_path(tag.name)
  %span.navbar_left= link_to 'learn more', learn_path

  .nav_elements
    = form_tag(posts_path, :method => "get", id: "search-form") do
      %span= text_field_tag :search, params[:search], placeholder: "Search posts, tags, URLs"
      %span= submit_tag "Go", :name => nil

    - if !user_signed_in? && ( !current_page?(new_user_registration_path) || !current_page?(new_user_session_path) )
      %span.login_or_sign_up_to
        %span.sign_up_underline= link_to 'Login',  new_user_session_path
        or
        %span.sign_up_underline= link_to "Sign up", new_user_registration_path
        to post or comment.
    - elsif user_signed_in?
      = render 'notifications/notification_dropdown'
      %span.nav_space
      %span.dropdown.nav_right_el
        %span{"data-toggle" => "dropdown", :type => "button"}
          = current_user.user_name
          %span.caret
        %ul.dropdown-menu#account_dropdown
          %li= link_to "Profile", profile_path(current_user.user_name)
          %li= link_to "Settings", edit_user_registration_path
          %li= link_to 'Sign out', destroy_user_session_path, method: :delete
      %span.new_post.nav_right_el
        = link_to 'New thread', new_post_path, method: :get

    - else
