.nav

  = link_to url_for(root_url) do
    .glyphicon.glyphicon-home
  .nav_elements
    = form_tag(posts_path, :method => "get", id: "search-form") do
      %span= text_field_tag :search, params[:search], placeholder: "Search posts, URLs"
      %span= submit_tag "Go", :name => nil

    - if !user_signed_in? && !current_page?(new_user_registration_path)
      %span.sign_up_underline= link_to 'Login',  new_user_session_path
      or
      %span.sign_up_underline= link_to "Sign up", new_user_registration_path
      to post or comment. Join the comment-powered news source today!
    - elsif user_signed_in?
      = render 'notifications/notification_dropdown'
      %span.nav_space
      = link_to 'New post', new_post_path
      = link_to 'Sign out', destroy_user_session_path, method: :delete
      = link_to current_user.user_name, profile_path(current_user.user_name)
    - else

.nav_decoy
